@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

$background: #111;
$primary: #222;
$secondary: #333;
$counter: #F2F5EA;
$accent: #D74E09;

root {
    --positive-color: green;
    --inactive-color: #555;
}

body {
    font-family: Roboto, sans-serif, serif;
    margin: 0em;
    background-color: $background;
    color: $counter;
}

.navigation {
    background-color: $primary;
    border: none;
    border-radius: 0;
}

.music-bar {
    background-color: $primary;
}

.accent {
    color: $accent;
}
